{% load static %}

<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>DAILY RECORD</title>
  <meta name="viewport" content="width=device-width">
  <meta name="description" content="Aize Online Judge">
  <meta name="keywords" content="programming, python, Algorithm, Machine Learning, Natural Language Processing">
  <link rel="stylesheet" type="text/css" href="{% static "./css/style.css" %}">

  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>

<body>
  <div id="container">
  <header>
  <h1 id="logo"><a href="{% url 'index' %}">
    <img src="{% static './images/logo.png' %}" alt="">
  </a></h1>
  <iframe src="{% static './countdown/countdown.html' %}" frameBorder="0" scrolling="no"></iframe>
  <nav id="menubar">
  <ul>
  <li><a href="{% url 'record' %}">RECORD</a></li>
  <li><a href="{% url 'category' %}">CATEGORY</a></li>
  <li><a href="{% url 'about_me' %}">ABOUT ME</a></li>
  <li><a href="{% url 'link' %}">LINK</a></li>
  <li><a href="{% url 'index' %}#CONTACT">CONTACT</a></li>
  </ul>
  </nav>
  </header>
  <div id="contents">
  <h3 id="ML_math">
    <a class="no-underline" href="http://judge.u-aizu.ac.jp/onlinejudge/index.jsp" target="_blank" rel="noopener noreferrer">
    <b><font color="#000" face="Comic Sans MS">Aizu Online Judge</font></b>
    </a>
  </h3>
  <section>
    test
  </section>
  <section>
    <ol class="wrap-css-selector">
    <div style="padding: 10px; margin-bottom: 10px; border: 2px solid #333333; width:90%; background-color: #dcdcdc;">
      <b><font size="3" color="#000">Contnts</font></b>
      <p style="margin: -5px 20px -5px 40px;">
    <ol>
      <li>Optimization theory
        <ol>
          <li>Mathematical Optimization
            <ol>
              <li><a href="{% url 'blog_202102' %}#02/09/2021">Convex optimization</a></li>
              <li>Linear optimization</li>
              <li>Nonlinear optimization</li>
            </ol>
          </li>
          <li>Combinational Optimization
            <ol>
            </ol>
          </li>
        </ol>
      </li>
      <li>Probability theory
      </li>
      <li>Informartion theory
      </li>
    </ol>
    </ol>
    </div>
  </section>
  </div>
  <!--/contents-->
  <footer>
  <small>Copyright&copy; <a href="{% url 'index' %}">DAILY RECORD</a> All Rights Reserved.</small>
  <span class="pr">《<a href="http://template-party.com/" target="_blank">Web Design:Template-Party</a>》</span>
  </footer>
  </div>
  <!--/container-->
</body>
</html>
