{% load static %}

<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>DAILY RECORD</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="12/2020">
  <meta name="keywords" content="programming, python, Algorithm, Machine Learning, Natural Language Processing">
  <link rel="stylesheet" type="text/css" href="{% static "./css/style.css"%}">

  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->

  <script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js"></script>
</head>

<body onload="prettyPrint()">
  <div id="container">
  <header>
    <h1 id="logo"><a href="{% url 'index' %}"><img src="{% static './images/logo.png' %}" alt=""></a></h1>
    <iframe src="{% static './countdown/countdown.html' %}" frameBorder="0" scrolling="no"></iframe>
    <nav id="menubar">
    <ul>
    <li><a href="{% url 'record' %}">RECORD</a></li>
    <li><a href="{% url 'category' %}">CATEGORY</a></li>
    <li><a href="{% url 'about_me' %}">ABOUT ME</a></li>
    <li><a href="{% url 'link' %}">LINK</a></li>
    <li><a href="{% url 'index' %}#CONTACT">CONTACT</a></li>
    </ul>
    </nav>
  </header>
  <div id="contents">
    <h2>RECORD</h2>
    <h>
    <a href="{% url 'blog_202011' %}" class="no-underline" target="_blank" rel="noopener noreferrer">
      &#9655; Previous Month
    </a>
    </h>
    &emsp;
    <h id="12/2020">
      <b><font size=4 color="#000" face="Comic Sans MS">12/2020</font></b>
    </h>
    &emsp;
    <h>
    <a href="{% url 'blog_202101' %}" class="no-underline" target="_blank" rel="noopener noreferrer">
      &#9655; Next Month
    </a>
    </h>
    <section id="12/06/2021">
      <hr width= 95%>
      <p>
        <b><font size="2" color="#000" face="Comic Sans MS">12/06/2021</font></b></br>
        <!-test->
        </br>
        <p style="margin: -5px 20px -15px 40px;">
        <a class="no-underline" href="https://judge.u-aizu.ac.jp/onlinejudge/description.jsp?id=ALDS1_12_B" target="_blank" rel="noopener noreferrer">
          <b><font size="2" color="#000" face="Comic Sans MS" >Dijkstra's Algorithm: Adjacensy Matrix (DSL_1_A: Aize Online Judge)</font></b>
        </a>
        </p>
        <pre><code class="prettyprint linenums">
          import sys

          input = sys.stdin.readline

          n = int(input().rstrip())
          INF = float('inf')

          M = [[INF for _ in range(n)] for _ in range(n)]
          color = ["White" for _ in range(n)]
          D = [INF for _ in range(n)]
          p = [None for _ in range(n)]

          def dijkstra(s):
              D[s] = 0
              p[s] = -1
              while True:
                  mincost = INF
                  for i in range(n):
                      if color[i] != "Black" and D[i] < mincost:
                          mincost = D[i]
                          u = i
                  if mincost == INF:
                      break
                  color[u] = "Black"
                  for v in range(n):
                      if color[v] != "Black" and M[u][v] != INF:
                          if D[u]+M[u][v] < D[v]:
                              D[v] = D[u]+M[u][v]
                              p[v] = u
                              color[v] = "Gray"

          def main():
              for i in range(n):
                  u,k,*VC = map(int,input().split())
                  for v,c in zip(VC[::2],VC[1::2]):
                          M[u][v] = c

              dijkstra(0)

              for i in range(n):
                  print(str(i)+" "+str(-1 if D[i]==INF else D[i]))


          if __name__ == "__main__":
              main()
        </code></pre>
      </p>
        <p style="text-align:right; margin: -25px 0px 0px 0px;">
          <b><font size="2" color="#000" face="Comic Sans MS"  style="text-align:center">
          Category:
          <a class="no-underline" href="{% url 'category' %}#PROGRAMMING" target="_blank" rel="noopener noreferrer">
            Programming
          </a>
          </font></b>
        </p>
    </section>
    <section id="12/08/2021">
      <hr width= 95%>
      <p>
        <b><font size="2" color="#000" face="Comic Sans MS">12/08/2021</font></b></br>
        <!-test->
        </br>
        <p style="margin: -5px 20px -15px 40px;">
        <a class="no-underline" href="https://nlp100.github.io/ja/ch06.html" target="_blank" rel="noopener noreferrer">
          <b><font size="2" color="#000" face="Comic Sans MS" >Download and preprocess dataset (50: NLP100 Exercise)</font></b>
        </a>
        </p>
        <pre><code class="prettyprint linenums">
          import pandas as pd
          from sklearn.model_selection import train_test_split

          file = "./NewsAggregatorDataset/newsCorpora.csv"
          FORMAT = ["ID","TITLE","URL","PUBLISHER","CATEGORY","STORY","HOSTNAME","TIMESTAMP"]

          df_1 = pd.read_csv(file,header=None,sep="\t",names=FORMAT)
          pd.set_option('display.max_columns', None)

          df_2 = df_1.loc[df_1["PUBLISHER"].
                isin(["Reuters","Huffington Post","Businessweek","Contactmusic.com","Daily Mail"]),
                ["CATEGORY","TITLE"]]

          train_data,tv_data = train_test_split(df_2,test_size=0.2,shuffle=True,random_state=0)
          test_data,verif_data = train_test_split(tv_data,test_size=0.5,shuffle=True,random_state=0)

          train_data.to_csv("train.txt",sep="\t",index=False)
          # head -10 train.txt

          verif_data.to_csv("verif.txt",sep="\t",index=False)
          test_data.to_csv("test.txt",sep="\t",index=False)
        </code></pre>
      </p>
        <p style="text-align:right; margin: -25px 0px 0px 0px;">
          <b><font size="2" color="#000" face="Comic Sans MS"  style="text-align:center">
          Category:
          <a class="no-underline" href="{% url 'category' %}#NLP" target="_blank" rel="noopener noreferrer">
            Natural Language Processing
          </a>
          </font></b>
        </p>
    </section>
  </br>
    <h>
    <a href="{% url 'blog_202011' %}" class="no-underline" target="_blank" rel="noopener noreferrer">
      &#9655; Previous Month
    </a>
    </h>
    &emsp;
    <h>
      <b><font size=4 color="#000" face="Comic Sans MS">12/2020</font></b>
    </h>
    &emsp;
    <h>
    <a href="{% url 'blog_202101' %}" class="no-underline" target="_blank" rel="noopener noreferrer">
      &#9655; Next Month
    </a>
    </h>
  </div>
    <hr width= 95%>
    <footer>
      <small>Copyright&copy; <a href="{% url 'index' %}">DAILY RECORD</a> All Rights Reserved.</small>
      <span class="pr">《<a href="http://template-party.com/" target="_blank">Web Design:Template-Party</a>》</span>
    </footer>
  </div>
</body>

</html>
