{% load static %}

<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="05/2020">
  <meta name="keywords" content="programming, python, Algorithm, Machine Learning, Natural Language Processing">
  <link rel="stylesheet" type="text/css" href="{% static "./css/style.css"%}">

  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->

  <script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js"></script>
</head>

<body onload="prettyPrint()">
  <div id="container">
  <header>
    <h1 id="logo"><a href="{% url 'index' %}"><img src="{% static './images/logo.png' %}" alt=""></a></h1>
    <iframe src="{% static './countdown/countdown.html' %}" width=auto height=40px frameBorder="0" scrolling="no"></iframe>
    <nav id="menubar">
    <ul>
    <li><a href="{% url 'record' %}">RECORD</a></li>
    <li><a href="{% url 'category' %}">CATEGORY</a></li>
    <li><a href="{% url 'about_me' %}">ABOUT ME</a></li>
    <li><a href="{% url 'link' %}">LINK</a></li>
    <li><a href="{% url 'index' %}#CONTACT">CONTACT</a></li>
    </ul>
    </nav>
  </header>
  <div id="contents">
    <h2>RECORD</h2>
    &emsp;
    <h id="05/2020">
      <b><font size=4 color="#000" face="Comic Sans MS">05/2020</font></b>
    </h>
    &emsp;
    <h>
    <a href="{% url 'blog_202006' %}" class="no-underline" target="_blank" rel="noopener noreferrer">
      &#9655; Next Month
    </a>
    </h>
      <section id="05/11/2020">
        <hr width= 95%>
        <p>
          <b><font size="2" color="#000" face="Comic Sans MS">05/11/2020</font></b></br>
            I wrote four elementary programs about Natural Language Processing.
            The first program arranges a string in reverse order,
            the second program partially extracts and concatenates letters from a string.
            Then, the 3rd program alternately extracts letter from two different
            strings and concatenates them,
            and the 4th program extracts multiple strings and arrange the indexes.
          </br>
          <p style="margin: -5px 20px -15px 40px;">
          <a class="no-underline" href="https://nlp100.github.io/ja/ch01.html" target="_blank" rel="noopener noreferrer">
            <b><font size="2" color="#000" face="Comic Sans MS" >Reversed string (00: NLP100 Exercise)</font></b>
          </a>
          </p>
          <pre><code class='prettyprint linenums'>
            def reverse_word(word):
                word_rev = ""
                for i in word[::-1]:
                    word_rev += i
                return word_rev

            word = "stressed"
            print(reverse_word(word))
          </code></pre>
          <p style="margin: -5px 20px -15px 40px;">
          <a class="no-underline" href="https://nlp100.github.io/ja/ch01.html" target="_blank" rel="noopener noreferrer">
            <b><font size="2" color="#000" face="Comic Sans MS" >「パタトクカシーー」 (01: NLP100 Exercise)</font></b>
          </a>
          </p>
          <pre><code class='prettyprint linenums'>
            word = "「パタトクカシーー」"
            word_odd = ""

            for i,j in enumerate(word[1::2]):
                if i < len(word)//2 - 1:
                    word_odd += j
                else:
                    break

            print(word_odd)
          </code></pre>
          <p style="margin: -5px 20px -15px 40px;">
          <a class="no-underline" href="https://nlp100.github.io/ja/ch01.html" target="_blank" rel="noopener noreferrer">
            <b><font size="2" color="#000" face="Comic Sans MS" >「パトカー」＋「タクシー」＝「パタトクカシーー」 (02: NLP100 Exercise)</font></b>
          </a>
          </p>
          <pre><code class='prettyprint linenums'>
            word1 = "「パトカー」"
            word2 = "「タクシー」"

            word_connect = ""

            for i,j in zip(word1[1:len(word1)-1], word2[1:len(word2)-1]):
                word_connect = word_connect + i + j

            print(word_connect)
          </code></pre>
          <p style="margin: -5px 20px -15px 40px;">
          <a class="no-underline" href="https://nlp100.github.io/ja/ch01.html" target="_blank" rel="noopener noreferrer">
            <b><font size="2" color="#000" face="Comic Sans MS" >Pi (03: NLP100 Exercise)</font></b>
          </a>
          </p>
          <pre><code class='prettyprint linenums'>
            words = "Now I need a drink, alcoholic of course,
            after the heavy lectures involving quantum mechanics."

            words_replace = words.replace(",","").replace(".","")
            words_list = words_replace.split(" ")

            Pi_word = []

            for i in range(len(words_list)):
                Pi_word.append(len(words_list[i]))

            print(Pi_word)
          </code></pre>
        </p>
          <p style="text-align:right; margin: -25px 0px 0px 0px;">
            <b><font size="2" color="#000" face="Comic Sans MS"  style="text-align:center">
              Category:
            <a class="no-underline" href="{% url 'category' %}#NLP" target="_blank" rel="noopener noreferrer">
              Natural Language Processing
            </a>
            </font></b>
          </p>
      </section>
      <section id="05/12/2020">
        <hr width= 95%>
        <p>
          <b><font size="2" color="#000" face="Comic Sans MS">05/12/2020</font></b></br>
          I wrote an elementary program about Natural Language Processing.
          In that program, I made an associative array with key as the element symbol
          and vale as the element number.
          </br>
          <p style="margin: -5px 20px -15px 40px;">
          <a class="no-underline" href="//nlp100.github.io/ja/ch01.html" target="_blank" rel="noopener noreferrer">
            <b><font size="2" color="#000" face="Comic Sans MS" >Atomic symbols (04: NLP100 Exercise)</font></b>
          </a>
          </p>
          <pre><code class='prettyprint linenums'>
            words = "Hi He Lied Because Boron Could Not Oxidize Fluorine.
            New Nations Might Also Sign Peace Security Clause. Arthur King Can."

            S = words.split()
            index_1 = [1, 5, 6, 7, 8, 9, 15, 16, 19]

            D = {}
            for i,word in enumerate(S):
                if i+1 in index_1:
                    D[word[0]] = i+1
                else:
                    D[word[0:2]] = i+1

            print(D)
          </code></pre>
        </p>
          <p style="text-align:right; margin: -25px 0px 0px 0px;">
            <b><font size="2" color="#000" face="Comic Sans MS"  style="text-align:center">
              Category:
            <a class="no-underline" href="{% url 'category' %}#NLP" target="_blank" rel="noopener noreferrer">
              Natural Language Processing
            </a>
            </font></b>
          </p>
      </section>
      <section id="05/15/2020">
        <hr width= 95%>
        <p>
          <b><font size="2" color="#000" face="Comic Sans MS">05/15/2020</font></b></br>
          I wrote an elementary program about Natural Language Processing (NLP).
          The program is called N-gram and is well known program in NLP.
          N-gram is N consecutive words or letters,
          And in this time, I wrote an N-gram program with two cases of words and letters.
          </br>
          <p style="margin: -5px 20px -15px 40px;">
          <a class="no-underline" href="//nlp100.github.io/ja/ch01.html" target="_blank" rel="noopener noreferrer">
            <b><font size="2" color="#000" face="Comic Sans MS" >N-gram (05: NLP100 Exercise)</font></b>
          </a>
          </p>
          <pre><code class='prettyprint linenums'>
            def N_gram_word(sentence,N):
                words = sentence.replace(".","")
                word = words.split()
                N_gram_word_list = []
                if N > len(word):
                    return word
                else:
                    for i in range(len(word)-(N-1)):
                        N_gram_word_list.append(word[i:i+N])
                    return N_gram_word_list

            def N_gram_letter(sentence,N):
                words = sentence.replace(".","")
                word = words.split()
                letters = []
                for i in range(len(word)):
                    for j in range(len(word[i])):
                        letters.append(word[i][j])
                if N > len(letters):
                    return letters
                else:
                    N_gram_letter = []
                    for i in range(len(letters)-(N-1)):
                        N_gram_letter.append(letters[i:i+N])
                    return N_gram_letter

            sentence = "I am an NLPer."

            print("word bi-grams: ",N_gram_word(sentence,2))
            print("letter bi-grams: ",N_gram_letter(sentence,2))
          </code></pre>
        </p>
          <p style="text-align:right; margin: -25px 0px 0px 0px;">
            <b><font size="2" color="#000" face="Comic Sans MS"  style="text-align:center">
              Category:
            <a class="no-underline" href="{% url 'category' %}#NLP" target="_blank" rel="noopener noreferrer">
              Natural Language Processing
            </a>
            </font></b>
          </p>
      </section>
      <section id="05/23/2020">
        <hr width= 95%>
        <p>
          <b><font size="2" color="#000" face="Comic Sans MS">05/23/2020</font></b></br>
          I solved a problem of NLP100 Exercise.
          In that problem, I wrote a program that finds variouse sets from
          two different letter bigrams and checks whether sets contains bigram.
          </br>
          <p style="margin: -5px 20px -15px 40px;">
          <a class="no-underline" href="//nlp100.github.io/ja/ch01.html" target="_blank" rel="noopener noreferrer">
            <b><font size="2" color="#000" face="Comic Sans MS" >Set (06: NLP100 Exercise)</font></b>
          </a>
          </p>
          <pre><code class='prettyprint linenums'>
            def N_gram_letter(sentence,N):
                words = sentence.replace(".","")
                word = words.split()
                letters = []
                for i in range(len(word)):
                    for j in range(len(word[i])):
                        letters.append(word[i][j])
                if N > len(letters):
                    return letters
                else:
                    N_gram_letter = []
                    for i in range(len(letters)-(N-1)):
                        N_gram_letter.append(letters[i:i+N])
                    return N_gram_letter

            word1 = "paraparaparadise"
            word2 = "paragraph"

            X = N_gram_letter(word1,2)
            Y = N_gram_letter(word2,2)

            setX = set(map(tuple, X))
            setY = set(map(tuple, Y))

            unionXY = setX | setY
            intersectionXY = setX & setY
            differenceXY = setX - setY

            se = set(map(tuple, N_gram_letter("se",2)))

            print("X ∪ Y = {}".format(unionXY))
            print("X ∩ Y = {}".format(intersectionXY))
            print("X ∖ Y = {}".format(differenceXY))
            print("bi-gram se -> setX:{}, setY:{}".format(se.issubset(setX),se.issubset(setY)))
          </code></pre>
        </p>
          <p style="text-align:right; margin: -25px 0px 0px 0px;">
            <b><font size="2" color="#000" face="Comic Sans MS"  style="text-align:center">
              Category:
            <a class="no-underline" href="{% url 'category' %}#NLP" target="_blank" rel="noopener noreferrer">
              Natural Language Processing
            </a>
            </font></b>
          </p>
      </section>
      <section id="05/24/2020">
        <hr width= 95%>
        <p>
          <b><font size="2" color="#000" face="Comic Sans MS">05/24/2020</font></b></br>
            As the first problem to learn algorithms,
            I solved the problem that was conscious of the computational complexity.
            In this problem,
            I wrote a program that was careful not to make computational complexity O(n<sup>2</sup>).
          </br>
          <p style="margin: -5px 20px -15px 40px;">
          <a class="no-underline" href="//judge.u-aizu.ac.jp/onlinejudge/description.jsp?id=ALDS1_1_D" target="_blank" rel="noopener noreferrer">
            <b><font size="2" color="#000" face="Comic Sans MS" >Maximum Profit (ALDS1_1_D: Aizu Online Judge)</font></b>
          </a>
          </p>
          <pre><code class='prettyprint linenums'>
            n = int(input())
            R = []

            for i in range(n):
                r = int(input())
                R.append(r)

            minv = R[0]
            max_diff = -2000000000

            for j in range(1,n,1):
                max_diff = max(max_diff,R[j]-minv)
                minv = min(minv,R[j])

            print(max_diff)
          </code></pre>
        </p>
          <p style="text-align:right; margin: -25px 0px 0px 0px;">
            <b><font size="2" color="#000" face="Comic Sans MS"  style="text-align:center">
              Category:
            <a class="no-underline" href="{% url 'category' %}#PROGRAMMING" target="_blank" rel="noopener noreferrer">
              Programming
            </a>
            </font></b>
          </p>
      </section>
      <section id="05/28/2020">
        <hr width= 95%>
        <p>
          <b><font size="2" color="#000" face="Comic Sans MS">05/28/2020</font></b></br>
          I wrote a program iplemented a function that takes arguments x, y, and z as inputs and
          returns the string "「x時のyはz」" in problem of NLP100 Exercise..
          </br>
          <p style="margin: -5px 20px -15px 40px;">
          <a class="no-underline" href="//nlp100.github.io/ja/ch01.html" target="_blank" rel="noopener noreferrer">
            <b><font size="2" color="#000" face="Comic Sans MS" >Statement generation by templete (07: NLP100 Exercise)</font></b>
          </a>
          </p>
          <pre><code class='prettyprint linenums'>
            def sentence_generation(x,y,z):
                return "「{}時の{}は{}」".format(x,y,z)

            print(sentence_generation(x=12,y="気温",z=22.4))
          </code></pre>
        </p>
          <p style="text-align:right; margin: -25px 0px 0px 0px;">
            <b><font size="2" color="#000" face="Comic Sans MS"  style="text-align:center">
              Category:
            <a class="no-underline" href="{% url 'category' %}#NLP" target="_blank" rel="noopener noreferrer">
              Natural Language Processing
            </a>
            </font></b>
          </p>
      </section>
      <section id="05/29/2020">
        <hr width= 95%>
        <p>
          <b><font size="2" color="#000" face="Comic Sans MS">05/29/2020</font></b></br>
          I wrote two programs about Natural Language Processing.
          The first program encrypts and decrypts English messages,
          and the second program randomly changes the order of letters other than the first and last.
          </br>
          <p style="margin: -5px 20px -15px 40px;">
          <a class="no-underline" href="//nlp100.github.io/ja/ch01.html" target="_blank" rel="noopener noreferrer">
            <b><font size="2" color="#000" face="Comic Sans MS" >Cipher text (08: NLP100 Exercise)</font></b>
          </a>
          </p>
          <pre><code class='prettyprint linenums'>
            def cipher(message):
                message_list = []
                result = ""
                for i in range(len(message)):
                    if message[i].islower():
                        message_list.insert(i,chr(219-ord(message[i])))
                    else:
                        message_list.insert(i,message[i])
                for j in range(len(message)):
                    result += message_list[j]

                return result

            message = "I've seen things you people wouldn't believe."

            encription = cipher(message)
            decription = cipher(encription)

            print("encription: \n{}".format(encription))
            print("decription: \n{}".format(decription))
          </code></pre>
          <p style="margin: -5px 20px -15px 40px;">
          <a class="no-underline" href="//nlp100.github.io/ja/ch01.html" target="_blank" rel="noopener noreferrer">
            <b><font size="2" color="#000" face="Comic Sans MS" >Typoglycemia (09: NLP100 Exercise)</font></b>
          </a>
          </p>
          <pre><code class='prettyprint linenums'>
            import random

            def Typoglycemia(sentence):
                result = []
                for word in sentence.split(" "):
                    if len(word) <= 4:
                        result.append(word)
                    else:
                        shuffle_word_list = list(word[1:-1])
                        random.shuffle(shuffle_word_list)
                        typoglycemia_list = word[0]+"".join(shuffle_word_list)+word[-1]
                        result.append(typoglycemia_list)
                return " ".join(result)

            sentence = "I couldn’t believe that I could actually understand what I was reading
            : the phenomenal power of the human mind ."

            print(Typoglycemia(sentence))
          </code></pre>
        </p>
          <p style="text-align:right; margin: -25px 0px 0px 0px;">
            <b><font size="2" color="#000" face="Comic Sans MS"  style="text-align:center">
              Category:
            <a class="no-underline" href="{% url 'category' %}#NLP" target="_blank" rel="noopener noreferrer">
              Natural Language Processing
            </a>
            </font></b>
          </p>
      </section>
      <section id="05/31/2020">
        <hr width= 95%>
        <p>
          <b><font size="2" color="#000" face="Comic Sans MS">05/31/2020</font></b></br>
          I wrote a program which is called Insertion Sort.
          The algorithm sorts a sequence A in ascending order.
          The time complexity is O(kN) when each element in the input is position k away from its sorted position.
          </br>
          <p style="margin: -5px 20px -15px 40px;">
          <a class="no-underline" href="//judge.u-aizu.ac.jp/onlinejudge/description.jsp?id=ALDS1_1_A" target="_blank" rel="noopener noreferrer">
            <b><font size="2" color="#000" face="Comic Sans MS" >Insertion Sort (ALDS1_1_A: Aizu Online Judge)</font></b>
          </a>
          </p>
          <pre><code class='prettyprint linenums'>
            def InsertionSort(S,N):
                for j in range(1,N,1):
                    v = S[j]
                    k = j-1
                    while k >= 0 and S[k] > v:
                        S[k+1] = S[k]
                        k -= 1
                    S[k+1] = v
                    print(" ".join(map(str,S)))

            N = int(input())
            S = [int(x) for x in input().split()]

            print(" ".join(map(str,S)))
            InsertionSort(S,N)
          </code></pre>
        </p>
          <p style="text-align:right; margin: -25px 0px -30px 0px;">
            <b><font size="2" color="#000" face="Comic Sans MS"  style="text-align:center">
              Category:
            <a class="no-underline" href="{% url 'category' %}#PROGRAMMING" target="_blank" rel="noopener noreferrer">
              Programming
            </a>
            </font></b>
          </p>
        </section>
  </br>
    <h>
      <b><font size=4 color="#000" face="Comic Sans MS">05/2020</font></b>
    </h>
    <h>
    <a href="{% url 'blog_202006' %}" class="no-underline" target="_blank" rel="noopener noreferrer">
      &#9655; Next Month
    </a>
    </h>
  </div>
    <hr width= 95%>
    <footer>
      <small>Copyright&copy; <a href="{% url 'index' %}">DAILY RECORD</a> All Rights Reserved.</small>
      <span class="pr">《<a href="http://template-party.com/" target="_blank">Web Design:Template-Party</a>》</span>
    </footer>
  </div>
</body>

</html>
